.form-login {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  align-items: center;
}

.login-form {
  min-width: 100px;
}

@media (min-width: 800px) {
  .login-form {
    min-width: 500px;
  }
}

.login-form-button {
  margin-right: 4px;
}

.register-form-button {
  margin-right: 10px;
}

.dashboard-text {
  margin-top: 0;
  margin-bottom: 0;
}

.logout-button {
  margin-left: 10px;
}